<article class="user">
    <div class="user-header">
      <h4><a class="username-link" href="/authors/{{id}}">{{username}}</a></h4>
      <p> A loyal author since {{format_date created_at}} with {{story.id.length}} published  {{format_plural "story" story.length}}</p>
    </div>

    <div>
      <p class="user-about">A little about the author: {{about_me}}</p>
    </div>
</article>